@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --text-color: #f5f5f5;
  --hover-color: #fee715ff;
  --bg-color: #101820ff;
  --secon-bg-color: #292e33;
  --big-font: 2.5rem;
  --h2-font: 3rem;
  --neon-box-shadow: 0 0 0.5rem #12f7ff;
  --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3), 0 0 20px rgba(18,247,255,0.3), 0 0 30px rgba(18,247,255,0.3), 0 0 40px rgba(18,247,255,0.3), 0 0 70px rgba(18,247,255,0.3), 0 0 80px rgba(18,247,255,0.3), 0 0 100px rgba(18,247,255,0.3), 0 0 150px rgba(18,247,255,0.3);
}

/* Generic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Header/Navbar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 5%;
}

.protfolio-container {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.protfolio-container span {
  color: var(--hover-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 30px;
  transition: color 0.3s;
}

.navlist a:hover {
  color: var(--hover-color);
}

#menu-icon {
  font-size: 1.8rem;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  cursor: pointer;
  margin-left: 25px;
  display: none;
  z-index: 10001;
}

/* Section General */
section {
  min-height: 100vh;
  padding: 10rem 5% 2rem;
}

/* Home Section */
.home {
  min-height: 95vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

.home-content {
  max-width: 600px;
}

.design .circle {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 28rem;
  background-image: url("./photos/photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #f4df4eff, inset 0 0 1rem #f4df4eff, 0 0 2rem #f4df4eff, inset 0 0 2rem #f4df4eff;
  overflow: hidden;
}

#arya {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content p {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

/* Buttons */
.btn {
  border: 0.1rem solid #f4df4eff;
  background: none;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem #f4df4eff;
}

.btn1 { color: #f4df4eff; }
.btn2 { color: var(--bg-color); }
.btn1:hover { color: var(--bg-color); }
.btn2{ color: #f4df4eff; }

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #f4df4eff;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before { height: 100%; }
.btn1:hover::before { height: 110%; }
.btn2:hover::before { height: 0%; }

/* Social Icons */
.social-icons {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: #101820ff;
}

.social-icons a {
  background: #101820ff;
  position: relative;
  height: 3.75rem;
  width: 3.75rem;
  margin: 0 0.6rem;
  border-radius: 50%;
  display: inline-flex;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: -0.188rem -0.188rem 0.438rem #17212c, 0.188rem 0.188rem 0.313rem #0e0d0d;
}

.social-icons a i {
  z-index: 3;
  width: 100%;
  height: 100%;
  line-height: 3.75rem;
  font-size: 1.563rem;
  color: #f4df4eff;
}

.social-icons a:hover:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #101820ff;
  top: 0; left: 0; right: 0; bottom: 0;
  box-shadow: inset -0.188rem -0.188rem 0.438rem #17212c, inset 0.188rem 0.188rem 0.313rem #0e0d0d;
}
.social-icons a:hover i { transform: scale(1); }

/* About Me Section */
.about {
  padding: 80px 0;
  color: #f4df4eff;
  background-color: #1E2429;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.design-col-1 .square {
  flex-basis: 35%;
  height: 490px;
  width: 20rem;
  margin-left: 30%;
  background-color: #555;
  background-image: url("Arya.jpg");
  background-size: 122%;
  background-repeat: no-repeat;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #f4df4eff, inset 0 0 1rem #f4df4eff, 0 0 2rem #f4df4eff, inset 0 0 2rem #f4df4eff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-col-2 {
  flex-basis: 60%;
  margin-right: 5%;
}

.sub-title {
  font-size: 35px;
  font-weight: 600;
}

.design-col-2 p {
  color: #f5f5f5;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #f5f5f5;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  margin: 10px 0;
  color: #f5f5f5;
  font-size: medium;
}

.tab-contents ul li span {
  color: #f4df4eff;
  font-size: 14px;
}

.tab-contents { display: none; }
.tab-contents.active-tab { display: block; }

/* Skills Section */
.main-text span, .main-text h2 { display: flex; justify-content: center; }

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px 50px;
  margin-top: 70px;
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}

.skill-bar { margin-bottom: 2rem; }

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html { width: 72%; animation: html 2s; }
.skill-bar .bar .css { width: 65%; animation: css 3s; }
.skill-bar .bar .JavaScript { width: 60%; animation: JavaScript 4s; }
.skill-bar .bar .Figma { width: 50%; animation: Figma 5s; }
.skill-bar .bar .C { width: 70%; animation: C 6s; }
.skill-bar .bar .Cplus { width: 85%; animation: Cplus 7s; }
.skill-bar .bar .MySQL { width: 65%; animation: MySQL 8s; }

/* Professional Section */
.Professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 50px;
}

.box .text {
  text-align: center;
  color: #fff;
}

.box .text h2 {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.box .text small {
  font-size: 15px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
}

.circle1 {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 .points {
  width: 2px;
  height: 12px;
  background: var(--bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-65px);
}
.points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i)*0.03s);
}

/* Projects Section */
.projects {
  background-color: #1E2429;
}
.head span, .head h2 {
  display: flex; justify-content: center;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-top: 70px;
}
.projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, inset 0 0 0.2rem #fff, 0 0 0.5rem #f4df4eff, inset 0 0 0.5rem #f4df4eff, 0 0 1rem #f4df4eff, inset 0 0 1rem #f4df4eff;
  overflow: hidden;
  display: flex;
}
.projects-box img {
  width: 100%;
  transition: 0.5s;
}
.projects-box:hover img {
  transform: scale(1.1);
}
.projects-box .projects-layer {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(18,247,255,0.6), #f4df4eff);
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s;
}
.projects-box:hover .projects-layer {
  transform: translateY(0%);
}
.projects-layer h4 {
  font-size: 1.7rem;
}
.projects-layer p {
  font-size: 1.3rem;
  margin: .3rem 0 1rem;
}
.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem; height: 3rem;
  background: var(--text-color);
  border-radius: 50%;
}
.projects-layer a i {
  font-size: 1.2rem;
  color: var(--bg-color);
}

/* Contact */
.contact-left {
  flex-basis: 35%;
  margin-left: 5%;
  margin-top: 5px;
}
.contact-links{
  color: #12f7ff;
  display: block;
  font-size: 16px;
}
.contact-right {
  flex-basis: 60%;
  margin-top: 5px;
  height: 5px;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  margin-right: 15px;
  font-size: 25px;
}
.contact-right form {
  width: 70%;
  min-height: 90vh;
  text-align: center;
  align-items: center;
  padding: 15px;
}
form input, form textarea {
  width: 115%;
  padding: 12px;
  background: transparent;
  border: 2px solid #f4df4eff;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  color: #f5f5f5;
  margin: 4px 0;
}
form textarea { resize: none; }
form .btn3 {
  margin: auto;
  padding: 10px 15px;
  background: #f4df4eff;
  border: none;
  outline: none;
  border-radius: 12px;
  box-shadow: 0 0 10px #f4df4eff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
}
.btn3:hover {
  box-shadow: none;
}

#msg {
  color: #12f7ff;
  align-items: center;
  text-align: center;
  margin-top: -0.3px;
  display: block;
  font-size: 13px;
}

/* Footer */
.footer .copyright {
  width: 100%;
  text-align: center;
  padding: 20px 5%;
  background: #1E2429;
  font-weight: 300;
  margin-top: 195px;
}
.copyright i {
  color: var(--hover-color);
}
/* #my-details{
  display: flex;
} */

/* Keyframes */
@keyframes html { 0% { width: 0%; } 100% { width: 72%; } }
@keyframes css { 0% { width: 0%; } 100% { width: 65%; } }
@keyframes JavaScript { 0% { width: 0%; } 100% { width: 60%; } }
@keyframes Figma { 0% { width: 0%; } 100% { width: 50%; } }
@keyframes C { 0% { width: 0%; } 100% { width: 70%; } }
@keyframes Cplus { 0% { width: 0%; } 100% { width: 85%; } }
@keyframes MySQL { 0% { width: 0%; } 100% { width: 65%; } }
@keyframes glow {
  0% { background: var(--hover-color); box-shadow: none; }
  100% { background: var(--hover-color); box-shadow: var(--neon-box-shadow); }
}
